# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jurley.ribeiro\Develop\web_automation\Mentoria-Banrisul\mentoria-time-banrisul\.idea/dataSources/
/dataSources.local.xml
